* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}



.container {
    border: rgb(132, 103, 109) 3px solid;
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(132, 103, 109);

}

#taskInput {
    margin-left: 10px;
    margin-right: 10px;
    border: solid pink 2px;
    padding: 10px;
    width: 50%;
    border-radius: 5px;

}

input:focus {
    outline: none;
    color: rgb(85, 66, 70);
    box-shadow: 1px 1px rgb(132, 103, 109);

}

input::placeholder {
    color: pink;
}

#addButton,
#deleteButton,
#editButton {
    padding: 10px;
    border: pink 2px solid;
    color: rgb(132, 103, 109);
    background-color: white;
    border-radius: 5px;
    margin-right: 5px;
}

#addButton:hover,
#editButton:hover,
#deleteButton:hover {
    color: pink;
    box-shadow: 1px 1px rgb(132, 103, 109);
    transform: translatex(2px);
    cursor: pointer;

}

#taskList p {
    color: rgb(85, 66, 70);
    background-color: pink;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px 10px;
    border: dashed 1px rgb(132, 103, 109);
}

#taskList p:hover {
    background-color: white;
    color: rgb(85, 66, 70);
    font-weight: lighter;
}


.note {
    text-align: center;
    font-weight: lighter;
    font-size: small;
    padding: 10px;
}

span {
    color: pink;
}